<!--Partials at top-->
<% include partials/header %>
<% include partials/nav %>

<!--Body Section Here-->
<!-- form body -->
<div class="container" style="padding-top: 1em">
    <h3>Edit Cat</h3>
    <% if (message != "") { %>
    <p class="text-center text-danger"><%= message %></p>

    <% } %>
    <!-- ERROR MESSAGE AREA -->

    <p class="text-center text-danger" id="error1" name="error1"></p>
    <p class="text-center text-danger" id="error2" name="error2"></p>



    <form action="/cats/<%=listResults[0].cat_id %>" method="POST" onsubmit="return checkAnimalForm(this);" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Cat's Name</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="name" name="name" value="<%=listResults[0].name %>" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="age" class="col-sm-2 col-form-label">Date of Birth </label>
            <div class="col-sm-10">
                <input type="date" name="dob" id="dob" min="2005-01-01" value="<%= listResults[0].dobformat %>" required><small>(enter best guess)</small>
            </div>
        </div>

        <div class="form-group row">
            <label for="sex" class="col-sm-2 col-form-label">Sex</label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" id="sex" name="sex" required>
                    <!-- first option actual animal value -->
                    <option value="<%= listResults[0].sex %>" selected><%= listResults[0].sex %></option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="breed" class="col-sm-2 col-form-label">Breed</label>
            <div class="col-sm-10">
                <!-- Populate Select for Breeds from JS -->
                <select class="form-control form-control-sm" id="breed" name="breed"  required>
                    <!-- first option actual animal value -->
                    <option value="<%= listResults[0].breed %>" selected><%= listResults[0].breed %></option>
                    <!-- populate remaining from available options -->
                    <% for(var index = 0; index < breedList.length; index++) { %>
                    <option value="<%= breedList[index] %>"><%= breedList[index] %></option>
                    <% } %>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="color" class="col-sm-2 col-form-label">Color</label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" id="color" name="color" value="<%=listResults[0].color %>" required>
                    <option selected><%=listResults[0].color %></option>
                    <option>Black</option>
                    <option>Brown</option>
                    <option>Gray</option>
                    <option>Multicolor</option>
                    <option>Tan</option>
                    <option>White</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea name="description" id="description" rows="5" cols="30"><%= listResults[0].description %></textarea>
            </div>
        </div>

        <!-- STATUS POPULATED BASED ON LATEST STATUS VALUES -->
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Current Status</label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" id="status" name="status" required>
                    <!-- first option in list is the actual value for animal -->
                    <option value="<%= listResults[0].st_id %>" selected><%= listResults[0].status %></option>
                    <!-- populate with other values from dbs -->
                    <% status.forEach(function(item) { %>
                    <option value="<%= item.st_id %>"><%= item.status %></option>
                    <% }); %>
                </select>
            </div>
        </div>

        <!-- LOCATION POPULATED BASED ON LATEST LOCATION VALUES -->
        <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label">Location</label>
            <div class="col-sm-10">
                <select class="form-control form-control-sm" id="location" name="location">
                    " required>
                    <!-- first option in list is actual value for animal -->
                    <option value="<%= listResults[0].loc_id %>" selected><%= listResults[0].l_name %></option>
                    <!-- populate with other values from dbs -->
                    <% locations.forEach(function(location) {%>
                    <option value="<%=location.loc_id %>"><%= location.l_name %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button class="btn btn-lg btn-primary">Edit Cat</button>
            </div>
        </div>

    </form>

</div>

<script type="text/javascript" src="/formvalidator.js"></script>




<!--Footer Section Here-->
<% include partials/footer %>
