<!--Partials at top-->
<% include partials/header %>
<% include partials/nav %>


<!--Body Section Here-->

<div class="container" style="padding-top: 1em">
    <div class="row" style="padding-top: 1em; margin-bottom: -2.5em">
        <div class="col">
            <h3>View Cat</h3>
            <!-- determine whether results avail to show -->
            <br><strong><%= message %></strong>
        </div>
    </div>
    <div class="row">
        <!-- Header Row -->
        <% listResults.forEach(function(cat) { %>
        <div class="col-8">

        </div>
        <div class="col">
            <a href="/cats/<%=cat.cat_id %>/edit" class="btn btn-primary" role="button">Edit</a>
            <a href="/cats/<%=cat.cat_id %>/delete" class="btn btn-danger" role="button">Delete</a>
        </div>
    </div>
    <!-- Animal Data -->
    <div class="row">
        <div class="col-5">
            <img class="img-fluid img-thumbnail" src="/images/<%= cat.photo %>" style="margin-bottom: 2em">
        </div>
        <div class="col">
            <h4><%= cat.name %></h4>
            <strong>Status: </strong> <%=cat.status %><br>
            <strong>Sex: </strong> <%=cat.sex %> <br>
            <strong>DOB: </strong> <%= cat.dob %><br>
            <strong>ID: </strong> <%=cat.cat_id %> <br>
            <strong>Breed: </strong><%=cat.breed %> <br>
            <strong>Color: </strong><%=cat.color %> <br>
            <strong>Location: </strong> <%=cat.l_name %><br>
            <strong>Description: </strong><%=cat.description %>

        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
    <% }); %>
</div>


<!--Footer Section Here-->
<% include partials/footer %>
